.App {
  text-align: center;
  background-color: white;
}
/* css for footer (name)*/
/*.make-site {
  padding: 0px;
  display: flex;
  justify-content: end;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/*footer*/

/*ContactPage2*/
.contact-body {
  /* margin: auto; */
  width: 100%;
  height: 100%;
  justify-content: center;
  /* background-color: green; */
  /* box-shadow: 2px 2px 2px 2px black; */
}
.contact-grid {
  margin-top: 20px;
  padding-top: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: lightgray;
  color: black;
}
.contact-grid h2 {
  font-family: "Anton", sans-serif;
}

.contact-grid p {
  font-family: "Oxygen", sans-serif;
  font-weight: bold;
}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.contact-list {
  display: inline-flex;
  margin-top: 40px;
}
.contact-list .list-item {
  display: inline-flex;
  font-size: 40px;

  padding-top: 30px;
}
.contact-list .list-item i {
  margin-right: 20px;
}
.contact-list .list-item h3 {
  margin-right: 10px;
}
